.btn-shuffle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  padding: 6px;
  border-radius: 6px;
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color .12s ease, color .12s ease, transform .06s ease;
  line-height: 0;
}

.btn-shuffle:hover{ 
  transform: translateY(-1px); 
} 

.btn-shuffle:active {
  transform: translateY(0);
  color: white;  
}

.btn-shuffle.active {
  color: #1db954 !important; 
}

.btn-shuffle.active:hover {
  color: #1ed760 !important; 
}
