.buttonBase {
  border: none;
  border-radius: 500px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  transition: all 0.3s ease;
}

.primary {

  background-color: #ffffff;
  color: #ffffff;
  padding: 14px 32px;
}

.primary:hover {
  background-color: #ffffff;
  transform: scale(1.04);
}

.secondary {
  background-color: transparent;
  color: #FFFFFF;
  border: 1px solid #727272;
  padding: 14px 32px;
}

.secondary:hover {
  border-color: #FFFFFF;
  transform: scale(1.04);
}

.iconButton {
  background-color: transparent;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.iconButton:hover {
  background-color: rgb(0, 0, 0);
}

.playButton {
  background-color: #ffffff;
  color: #000000;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.playButton:hover {
  transform: scale(1.06);
  background-color: #ffffff;
}

.playButton:active {
  transform: scale(0.98);
  background-color: #e0e0e0;
}

.playButton svg {
  width: 24px;
  height: 24px;
}