.buttonBase {
  border: none;
  border-radius: 500px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  transition: all 0.3s ease;
}

.primary {

  background-color: #000000;
  color: #000000;
  padding: 14px 32px;
}

.primary:hover {
  background-color: #000000;
  transform: scale(1.04);
}

.secondary {
  background-color: transparent;
  color: #FFFFFF;
  border: 1px solid #727272;
  padding: 14px 32px;
}

.secondary:hover {
  border-color: #FFFFFF;
  transform: scale(1.04);
}

.iconButton {
  background-color: transparent;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.iconButton:hover {
  background-color: rgb(255, 255, 255);
}

.playButton {
  background-color: #000000;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.playButton:hover {
  transform: scale(1.06);
  background-color: #000000;
}