.controls{
  display: flex;
  gap: 15px;
  background-color: #000000;
  padding: 20px;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #000000;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: grey;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #000000;
  scale: 1.1;
color :white;
}