.container {
  padding: 40px;
  color: white;
}

.cover {
  width: 300px;
  border-radius: 16px;
  margin-bottom: 20px;
}

.tracks {
  margin-top: 40px;
}

.track {
  margin: 8px 0;
  padding: 10px;
  background: #181818;
  border-radius: 6px;
}
