.card {
  background-color: #181818;
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
  overflow: hidden;
  border: none;
  outline: none;
  text-align: left;
  pointer-events: auto;
  width: 160px;
}

.card:hover {
  background-color: #282828;
}

.imageWrapper {
  width: 100%;
  padding-bottom: 100%;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  margin-bottom: 12px;
  pointer-events: none;
  position: relative;
}

.artistImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 4px;
  color: white;
  pointer-events: none;
}

.subtitle {
  font-size: 14px;
  color: #b3b3b3;
  pointer-events: none;
}
