.container {
  width: 100%;
  height: 100vh;
  background: #121212;
  color: white;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  height: 100%;
}

/* SIDEBAR */
.sidebar {
  width: 240px;
  background: #000;
  padding: 24px 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menuItem {
  padding: 12px;
  border-radius: 6px;
  font-weight: 600;
  background: #181818;
  transition: 0.2s;
}

.menuItem:hover {
  background: #282828;
}

.mainContent {
  flex: 1;
  padding: 120px 32px 32px;
  overflow-y: auto;
  background: linear-gradient(to bottom, #333, #121212);
}

.section {
  margin-bottom: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 24px;
}
