.mini-card {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: #181818;
  border-top: 1px solid #282828;
  width: 100%;
  height: 100%;
}

.mini-card-content {
  color: #b3b3b3;
  font-size: 14px;
}