.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background:  #000000;
  position: sticky;
  top: 0;
  z-index: 100;
}
.logoSection {
  display: flex;
  align-items: center; 
  color:white; 
}
.logo {
  height: 40px;
}
.searchSection {
  flex: 1;
  display: flex;
  justify-content: center; 
  color:white; 
}
.searchInput {
  width: 300px;
  padding: 10px 20px;
  border-radius: 500px;
  border: none;
  background-color: #242424;
  color: white;
  font-size: 15px;
}
.searchInput::placeholder {
  color: #a7a7a7;
}
.userSection {
  display: flex;
  align-items: center;
  gap: 16px;
}
.installButton {
  padding: 8px 16px;
  border-radius: 500px;
  border: none;
  background-color: transparent;
  color: #c0bfbf;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}
.profileButton {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
}
.profileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news{ 
  color:white; 

} 
.news:hover{ 
  color: green; 
  background-color: green;
} 
.scritta{ 
  color:white; 
  background-color: transparent; 

}  
.scritta:hover{ 
  color: green;
} 