/* Container principale */
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #000;
  font-family: Arial, sans-serif;
}

/* Box centrale */
.login-box {
  background: #111;
  padding: 2rem;
  border-radius: 8px;
  width: 100%;
  max-width: 380px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
}

/* Header */
.login-header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.logo {
  color: #1db954;
  font-size: 2rem;
  font-weight: bold;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  border-bottom: 1px solid #333;
}

.tab {
  padding: 0.5rem 1rem;
  color: #aaa;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.tab.active { 
  font-family: Arial, Helvetica, sans-serif;
  color: #1db954;
  border-bottom: 2px solid #1db954;
}

/* Form */
.login-form { 
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group label {
  color: #aaa;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
  display: block;
}

.form-group input {
  width: 100%;
  padding: 0.6rem;
  border-radius: 4px;
  border: none;
  background: #222;
  color: #fff;
} 
.form-group input:hover {
  width: 100%;
  padding: 0.6rem;
  border-radius: 4px; 
  border: none; 
  background: white;   
  color: black; 
  
} 

.form-group input:focus {
  outline: 2px solid #1db954;
}

/* Opzioni */
.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
}

.checkbox {
  color: #aaa;
}

.forgot {
  color: #1db954;
  text-decoration: none;
}

.forgot:hover {
  text-decoration: underline;
}

/* Bottone */
.btn-submit {
  width: 100%;
  padding: 0.8rem;
  background: #1db954 ; 
  color: #fff;
  font-weight: bold; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
} 

.btn-submit:hover { 
    transform: scale(1.1);
  background: white; 
  color: black;

} 
 #logo{ 
    width: 50px; 
    height: 50px; 
    margin-bottom: 10px; 
 }